@import "exclude/bs/variables";
@import "exclude/bs/mixins.less";
@import "exclude/elements";
@import "exclude/helpers";

.core-langs{
  float: right;
  list-style: none;
  margin: 0;
  li{
    display: inline-block;
    padding: 15px 3px 15px 0;
    a{
      line-height: 20px;
    }
  }
}
