@media (max-width: @screen-xs-max) {
  .mt-xs-0{  margin-top: 0px !important;}
  .mt-xs-5{  margin-top: 5px !important;}
  .mt-xs-10{ margin-top: 10px !important;}
  .mt-xs-15{ margin-top: 15px !important;}
  .mt-xs-20{ margin-top: 20px !important;}
  .mt-xs-25{ margin-top: 25px !important;}
  .mb-xs-0{  margin-bottom: 0px !important;}
  .mb-xs-5{  margin-bottom: 5px !important;}
  .mb-xs-10{ margin-bottom: 10px !important;}
  .mb-xs-15{ margin-bottom: 15px !important;}
  .mb-xs-20{ margin-bottom: 20px !important;}
  .mb-xs-25{ margin-bottom: 25px !important;}
  .ml-xs-0{  margin-left: 0px !important;}
  .ml-xs-5{  margin-left: 5px !important;}
  .ml-xs-10{ margin-left: 10px !important;}
  .ml-xs-15{ margin-left: 15px !important;}
  .ml-xs-20{ margin-left: 20px !important;}
  .ml-xs-25{ margin-left: 25px !important;}
  .mr-xs-0{  margin-right: 0px !important;}
  .mr-xs-5{  margin-right: 5px !important;}
  .mr-xs-10{ margin-right: 10px !important;}
  .mr-xs-15{ margin-right: 15px !important;}
  .mr-xs-20{ margin-right: 20px !important;}
  .mr-xs-25{ margin-right: 25px !important;}
  .pt-xs-0{  padding-top: 0px !important;}
  .pt-xs-5{  padding-top: 5px !important;}
  .pt-xs-10{ padding-top: 10px !important;}
  .pt-xs-15{ padding-top: 15px !important;}
  .pt-xs-20{ padding-top: 20px !important;}
  .pt-xs-25{ padding-top: 25px !important;}
  .pb-xs-0{  padding-bottom: 0px !important;}
  .pb-xs-5{  padding-bottom: 5px !important;}
  .pb-xs-10{ padding-bottom: 10px !important;}
  .pb-xs-15{ padding-bottom: 15px !important;}
  .pb-xs-20{ padding-bottom: 20px !important;}
  .pb-xs-25{ padding-bottom: 25px !important;}
  .pl-xs-0{  padding-left: 0px !important;}
  .pl-xs-5{  padding-left: 5px !important;}
  .pl-xs-10{ padding-left: 10px !important;}
  .pl-xs-15{ padding-left: 15px !important;}
  .pl-xs-20{ padding-left: 20px !important;}
  .pl-xs-25{ padding-left: 25px !important;}
  .pr-xs-0{  padding-right: 0px !important;}
  .pr-xs-5{  padding-right: 5px !important;}
  .pr-xs-10{ padding-right: 10px !important;}
  .pr-xs-15{ padding-right: 15px !important;}
  .pr-xs-20{ padding-right: 20px !important;}
  .pr-xs-25{ padding-right: 25px !important;}

  .text-xs-center{text-align: center !important;}
  .text-xs-left{text-align: left !important;}
  .text-xs-right{text-align: right !important;}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .mt-sm-0{  margin-top: 0px !important;}
  .mt-sm-5{  margin-top: 5px !important;}
  .mt-sm-10{ margin-top: 10px !important;}
  .mt-sm-15{ margin-top: 15px !important;}
  .mt-sm-20{ margin-top: 20px !important;}
  .mt-sm-25{ margin-top: 25px !important;}
  .mb-sm-0{  margin-bottom: 0px !important;}
  .mb-sm-5{  margin-bottom: 5px !important;}
  .mb-sm-10{ margin-bottom: 10px !important;}
  .mb-sm-15{ margin-bottom: 15px !important;}
  .mb-sm-20{ margin-bottom: 20px !important;}
  .mb-sm-25{ margin-bottom: 25px !important;}
  .ml-sm-0{  margin-left: 0px !important;}
  .ml-sm-5{  margin-left: 5px !important;}
  .ml-sm-10{ margin-left: 10px !important;}
  .ml-sm-15{ margin-left: 15px !important;}
  .ml-sm-20{ margin-left: 20px !important;}
  .ml-sm-25{ margin-left: 25px !important;}
  .mr-sm-0{  margin-right: 0px !important;}
  .mr-sm-5{  margin-right: 5px !important;}
  .mr-sm-10{ margin-right: 10px !important;}
  .mr-sm-15{ margin-right: 15px !important;}
  .mr-sm-20{ margin-right: 20px !important;}
  .mr-sm-25{ margin-right: 25px !important;}
  .pt-sm-0{  padding-top: 0px !important;}
  .pt-sm-5{  padding-top: 5px !important;}
  .pt-sm-10{ padding-top: 10px !important;}
  .pt-sm-15{ padding-top: 15px !important;}
  .pt-sm-20{ padding-top: 20px !important;}
  .pt-sm-25{ padding-top: 25px !important;}
  .pb-sm-0{  padding-bottom: 0px !important;}
  .pb-sm-5{  padding-bottom: 5px !important;}
  .pb-sm-10{ padding-bottom: 10px !important;}
  .pb-sm-15{ padding-bottom: 15px !important;}
  .pb-sm-20{ padding-bottom: 20px !important;}
  .pb-sm-25{ padding-bottom: 25px !important;}
  .pl-sm-0{  padding-left: 0px !important;}
  .pl-sm-5{  padding-left: 5px !important;}
  .pl-sm-10{ padding-left: 10px !important;}
  .pl-sm-15{ padding-left: 15px !important;}
  .pl-sm-20{ padding-left: 20px !important;}
  .pl-sm-25{ padding-left: 25px !important;}
  .pr-sm-0{  padding-right: 0px !important;}
  .pr-sm-5{  padding-right: 5px !important;}
  .pr-sm-10{ padding-right: 10px !important;}
  .pr-sm-15{ padding-right: 15px !important;}
  .pr-sm-20{ padding-right: 20px !important;}
  .pr-sm-25{ padding-right: 25px !important;}

  .text-sm-center{text-align: center !important;}
  .text-sm-left{text-align: left !important;}
  .text-sm-right{text-align: right !important;}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .mt-md-0{  margin-top: 0px !important;}
  .mt-md-5{  margin-top: 5px !important;}
  .mt-md-10{ margin-top: 10px !important;}
  .mt-md-15{ margin-top: 15px !important;}
  .mt-md-20{ margin-top: 20px !important;}
  .mt-md-25{ margin-top: 25px !important;}
  .mb-md-0{  margin-bottom: 0px !important;}
  .mb-md-5{  margin-bottom: 5px !important;}
  .mb-md-10{ margin-bottom: 10px !important;}
  .mb-md-15{ margin-bottom: 15px !important;}
  .mb-md-20{ margin-bottom: 20px !important;}
  .mb-md-25{ margin-bottom: 25px !important;}
  .ml-md-0{  margin-left: 0px !important;}
  .ml-md-5{  margin-left: 5px !important;}
  .ml-md-10{ margin-left: 10px !important;}
  .ml-md-15{ margin-left: 15px !important;}
  .ml-md-20{ margin-left: 20px !important;}
  .ml-md-25{ margin-left: 25px !important;}
  .mr-md-0{  margin-right: 0px !important;}
  .mr-md-5{  margin-right: 5px !important;}
  .mr-md-10{ margin-right: 10px !important;}
  .mr-md-15{ margin-right: 15px !important;}
  .mr-md-20{ margin-right: 20px !important;}
  .mr-md-25{ margin-right: 25px !important;}
  .pt-md-0{  padding-top: 0px !important;}
  .pt-md-5{  padding-top: 5px !important;}
  .pt-md-10{ padding-top: 10px !important;}
  .pt-md-15{ padding-top: 15px !important;}
  .pt-md-20{ padding-top: 20px !important;}
  .pt-md-25{ padding-top: 25px !important;}
  .pb-md-0{  padding-bottom: 0px !important;}
  .pb-md-5{  padding-bottom: 5px !important;}
  .pb-md-10{ padding-bottom: 10px !important;}
  .pb-md-15{ padding-bottom: 15px !important;}
  .pb-md-20{ padding-bottom: 20px !important;}
  .pb-md-25{ padding-bottom: 25px !important;}
  .pl-md-0{  padding-left: 0px !important;}
  .pl-md-5{  padding-left: 5px !important;}
  .pl-md-10{ padding-left: 10px !important;}
  .pl-md-15{ padding-left: 15px !important;}
  .pl-md-20{ padding-left: 20px !important;}
  .pl-md-25{ padding-left: 25px !important;}
  .pr-md-0{  padding-right: 0px !important;}
  .pr-md-5{  padding-right: 5px !important;}
  .pr-md-10{ padding-right: 10px !important;}
  .pr-md-15{ padding-right: 15px !important;}
  .pr-md-20{ padding-right: 20px !important;}
  .pr-md-25{ padding-right: 25px !important;}

  .text-md-center{text-align: center !important;}
  .text-md-left{text-align: left !important;}
  .text-md-right{text-align: right !important;}
}
@media (min-width: @screen-lg-min) {
  .mt-lg-0{  margin-top: 0px !important;}
  .mt-lg-5{  margin-top: 5px !important;}
  .mt-lg-10{ margin-top: 10px !important;}
  .mt-lg-15{ margin-top: 15px !important;}
  .mt-lg-20{ margin-top: 20px !important;}
  .mt-lg-25{ margin-top: 25px !important;}
  .mb-lg-0{  margin-bottom: 0px !important;}
  .mb-lg-5{  margin-bottom: 5px !important;}
  .mb-lg-10{ margin-bottom: 10px !important;}
  .mb-lg-15{ margin-bottom: 15px !important;}
  .mb-lg-20{ margin-bottom: 20px !important;}
  .mb-lg-25{ margin-bottom: 25px !important;}
  .ml-lg-0{  margin-left: 0px !important;}
  .ml-lg-5{  margin-left: 5px !important;}
  .ml-lg-10{ margin-left: 10px !important;}
  .ml-lg-15{ margin-left: 15px !important;}
  .ml-lg-20{ margin-left: 20px !important;}
  .ml-lg-25{ margin-left: 25px !important;}
  .mr-lg-0{  margin-right: 0px !important;}
  .mr-lg-5{  margin-right: 5px !important;}
  .mr-lg-10{ margin-right: 10px !important;}
  .mr-lg-15{ margin-right: 15px !important;}
  .mr-lg-20{ margin-right: 20px !important;}
  .mr-lg-25{ margin-right: 25px !important;}
  .pt-lg-0{  padding-top: 0px !important;}
  .pt-lg-5{  padding-top: 5px !important;}
  .pt-lg-10{ padding-top: 10px !important;}
  .pt-lg-15{ padding-top: 15px !important;}
  .pt-lg-20{ padding-top: 20px !important;}
  .pt-lg-25{ padding-top: 25px !important;}
  .pb-lg-0{  padding-bottom: 0px !important;}
  .pb-lg-5{  padding-bottom: 5px !important;}
  .pb-lg-10{ padding-bottom: 10px !important;}
  .pb-lg-15{ padding-bottom: 15px !important;}
  .pb-lg-20{ padding-bottom: 20px !important;}
  .pb-lg-25{ padding-bottom: 25px !important;}
  .pl-lg-0{  padding-left: 0px !important;}
  .pl-lg-5{  padding-left: 5px !important;}
  .pl-lg-10{ padding-left: 10px !important;}
  .pl-lg-15{ padding-left: 15px !important;}
  .pl-lg-20{ padding-left: 20px !important;}
  .pl-lg-25{ padding-left: 25px !important;}
  .pr-lg-0{  padding-right: 0px !important;}
  .pr-lg-5{  padding-right: 5px !important;}
  .pr-lg-10{ padding-right: 10px !important;}
  .pr-lg-15{ padding-right: 15px !important;}
  .pr-lg-20{ padding-right: 20px !important;}
  .pr-lg-25{ padding-right: 25px !important;}

  .text-lg-center{text-align: center !important;}
  .text-lg-left{text-align: left !important;}
  .text-lg-right{text-align: right !important;}
}
//for web
@media (min-width: @screen-md-min){
  .mt-web-0{  margin-top: 0px !important;}
  .mt-web-5{  margin-top: 5px !important;}
  .mt-web-10{ margin-top: 10px !important;}
  .mt-web-15{ margin-top: 15px !important;}
  .mt-web-20{ margin-top: 20px !important;}
  .mt-web-25{ margin-top: 25px !important;}
  .mb-web-0{  margin-bottom: 0px !important;}
  .mb-web-5{  margin-bottom: 5px !important;}
  .mb-web-10{ margin-bottom: 10px !important;}
  .mb-web-15{ margin-bottom: 15px !important;}
  .mb-web-20{ margin-bottom: 20px !important;}
  .mb-web-25{ margin-bottom: 25px !important;}
  .ml-web-0{  margin-left: 0px !important;}
  .ml-web-5{  margin-left: 5px !important;}
  .ml-web-10{ margin-left: 10px !important;}
  .ml-web-15{ margin-left: 15px !important;}
  .ml-web-20{ margin-left: 20px !important;}
  .ml-web-25{ margin-left: 25px !important;}
  .mr-web-0{  margin-right: 0px !important;}
  .mr-web-5{  margin-right: 5px !important;}
  .mr-web-10{ margin-right: 10px !important;}
  .mr-web-15{ margin-right: 15px !important;}
  .mr-web-20{ margin-right: 20px !important;}
  .mr-web-25{ margin-right: 25px !important;}
  .pt-web-0{  padding-top: 0px !important;}
  .pt-web-5{  padding-top: 5px !important;}
  .pt-web-10{ padding-top: 10px !important;}
  .pt-web-15{ padding-top: 15px !important;}
  .pt-web-20{ padding-top: 20px !important;}
  .pt-web-25{ padding-top: 25px !important;}
  .pb-web-0{  padding-bottom: 0px !important;}
  .pb-web-5{  padding-bottom: 5px !important;}
  .pb-web-10{ padding-bottom: 10px !important;}
  .pb-web-15{ padding-bottom: 15px !important;}
  .pb-web-20{ padding-bottom: 20px !important;}
  .pb-web-25{ padding-bottom: 25px !important;}
  .pl-web-0{  padding-left: 0px !important;}
  .pl-web-5{  padding-left: 5px !important;}
  .pl-web-10{ padding-left: 10px !important;}
  .pl-web-15{ padding-left: 15px !important;}
  .pl-web-20{ padding-left: 20px !important;}
  .pl-web-25{ padding-left: 25px !important;}
  .pr-web-0{  padding-right: 0px !important;}
  .pr-web-5{  padding-right: 5px !important;}
  .pr-web-10{ padding-right: 10px !important;}
  .pr-web-15{ padding-right: 15px !important;}
  .pr-web-20{ padding-right: 20px !important;}
  .pr-web-25{ padding-right: 25px !important;}

  .text-web-center{text-align: center !important;}
  .text-web-left{text-align: left !important;}
  .text-web-right{text-align: right !important;}
}

//for mob
@media (max-width: @screen-sm-max){
  .mt-mob-0{  margin-top: 0px !important;}
  .mt-mob-5{  margin-top: 5px !important;}
  .mt-mob-10{ margin-top: 10px !important;}
  .mt-mob-15{ margin-top: 15px !important;}
  .mt-mob-20{ margin-top: 20px !important;}
  .mt-mob-25{ margin-top: 25px !important;}
  .mb-mob-0{  margin-bottom: 0px !important;}
  .mb-mob-5{  margin-bottom: 5px !important;}
  .mb-mob-10{ margin-bottom: 10px !important;}
  .mb-mob-15{ margin-bottom: 15px !important;}
  .mb-mob-20{ margin-bottom: 20px !important;}
  .mb-mob-25{ margin-bottom: 25px !important;}
  .ml-mob-0{  margin-left: 0px !important;}
  .ml-mob-5{  margin-left: 5px !important;}
  .ml-mob-10{ margin-left: 10px !important;}
  .ml-mob-15{ margin-left: 15px !important;}
  .ml-mob-20{ margin-left: 20px !important;}
  .ml-mob-25{ margin-left: 25px !important;}
  .mr-mob-0{  margin-right: 0px !important;}
  .mr-mob-5{  margin-right: 5px !important;}
  .mr-mob-10{ margin-right: 10px !important;}
  .mr-mob-15{ margin-right: 15px !important;}
  .mr-mob-20{ margin-right: 20px !important;}
  .mr-mob-25{ margin-right: 25px !important;}
  .pt-mob-0{  padding-top: 0px !important;}
  .pt-mob-5{  padding-top: 5px !important;}
  .pt-mob-10{ padding-top: 10px !important;}
  .pt-mob-15{ padding-top: 15px !important;}
  .pt-mob-20{ padding-top: 20px !important;}
  .pt-mob-25{ padding-top: 25px !important;}
  .pb-mob-0{  padding-bottom: 0px !important;}
  .pb-mob-5{  padding-bottom: 5px !important;}
  .pb-mob-10{ padding-bottom: 10px !important;}
  .pb-mob-15{ padding-bottom: 15px !important;}
  .pb-mob-20{ padding-bottom: 20px !important;}
  .pb-mob-25{ padding-bottom: 25px !important;}
  .pl-mob-0{  padding-left: 0px !important;}
  .pl-mob-5{  padding-left: 5px !important;}
  .pl-mob-10{ padding-left: 10px !important;}
  .pl-mob-15{ padding-left: 15px !important;}
  .pl-mob-20{ padding-left: 20px !important;}
  .pl-mob-25{ padding-left: 25px !important;}
  .pr-mob-0{  padding-right: 0px !important;}
  .pr-mob-5{  padding-right: 5px !important;}
  .pr-mob-10{ padding-right: 10px !important;}
  .pr-mob-15{ padding-right: 15px !important;}
  .pr-mob-20{ padding-right: 20px !important;}
  .pr-mob-25{ padding-right: 25px !important;}

  .text-mob-center{text-align: center !important;}
  .text-mob-left{text-align: left !important;}
  .text-mob-right{text-align: right !important;}
}

.mt-0{  margin-top: 0px;}
.mt-5{  margin-top: 5px;}
.mt-10{ margin-top: 10px;}
.mt-15{ margin-top: 15px;}
.mt-20{ margin-top: 20px;}
.mt-25{ margin-top: 25px;}
.mb-0{  margin-bottom: 0px;}
.mb-5{  margin-bottom: 5px;}
.mb-10{ margin-bottom: 10px;}
.mb-15{ margin-bottom: 15px;}
.mb-20{ margin-bottom: 20px;}
.mb-25{ margin-bottom: 25px;}
.ml-0{  margin-left: 0px;}
.ml-5{  margin-left: 5px;}
.ml-10{ margin-left: 10px;}
.ml-15{ margin-left: 15px;}
.ml-20{ margin-left: 20px;}
.ml-25{ margin-left: 25px;}
.mr-0{  margin-right: 0px;}
.mr-5{  margin-right: 5px;}
.mr-10{ margin-right: 10px;}
.mr-15{ margin-right: 15px;}
.mr-20{ margin-right: 20px;}
.mr-25{ margin-right: 25px;}
.pt-0{  padding-top: 0px;}
.pt-5{  padding-top: 5px;}
.pt-10{ padding-top: 10px;}
.pt-15{ padding-top: 15px;}
.pt-20{ padding-top: 20px;}
.pt-25{ padding-top: 25px;}
.pb-0{  padding-bottom: 0px;}
.pb-5{  padding-bottom: 5px;}
.pb-10{ padding-bottom: 10px;}
.pb-15{ padding-bottom: 15px;}
.pb-20{ padding-bottom: 20px;}
.pb-25{ padding-bottom: 25px;}
.pl-0{  padding-left: 0px;}
.pl-5{  padding-left: 5px;}
.pl-10{ padding-left: 10px;}
.pl-15{ padding-left: 15px;}
.pl-20{ padding-left: 20px;}
.pl-25{ padding-left: 25px;}
.pr-0{  padding-right: 0px;}
.pr-5{  padding-right: 5px;}
.pr-10{ padding-right: 10px;}
.pr-15{ padding-right: 15px;}
.pr-20{ padding-right: 20px;}
.pr-25{ padding-right: 25px;}